<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label> Information </ng-template>
        <ng-template matTabContent>
            <app-project-information [project]="project | async" *ngIf="(project | async) != null"></app-project-information>
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="tab-icon">group</mat-icon>
            People
        </ng-template>
        <ng-template matTabContent>
            This works as well
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            Monitoring Systems
        </ng-template>
        <ng-template matTabContent>
            Here is some space for the student development project.
        </ng-template>
    </mat-tab>
</mat-tab-group>
