<div class="information-cards">
    <mat-card>
        <mat-card-title>General Information</mat-card-title>
        <mat-card-content>
            TODO
        </mat-card-content>
    </mat-card>
    <mat-divider></mat-divider>
    <mat-card>
        <mat-card-title>Project's Issue Management System</mat-card-title>
        <mat-card-content>
            TODO
        </mat-card-content>
    </mat-card>
    <mat-divider></mat-divider>
    <mat-card>
        <mat-card-title>Project's Repository System</mat-card-title>
        <mat-card-content>
            TODO
        </mat-card-content>
    </mat-card>
</div>
