<div class="dashboard-container">
    <!-- Navigation toolbar TODO: Refactor into own component -->
    <mat-toolbar color="primary" class="dashboard-toolbar">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 class="app-name">MPIMLAN</h1>
        <span class="spacer"></span>
        <a [routerLink]="['/dashboard']">
            <button mat-icon-button>
                <mat-icon class="toolbar-button">dashboard</mat-icon>
            </button>
        </a>
        <a [routerLink]="['/account']">
            <button mat-icon-button>
                <mat-icon class="toolbar-button">account_circle</mat-icon>
            </button>
        </a>
        <a [routerLink]="['/settings']">
            <button mat-icon-button>
                <mat-icon class="toolbar-button">settings_applications</mat-icon>
            </button>
        </a>
        <a [routerLink]="['/']">
            <button mat-icon-button (click)="this.logout()">
                <mat-icon class="toolbar-button">arrow_forward</mat-icon>
            </button>
        </a>
    </mat-toolbar>

    <!-- Main page content -->
    <mat-sidenav-container class="dashboard-sidenav-container">

        <!-- Sidebar TODO: Refactor into won component -->
        <mat-sidenav #sidenav [mode]="'side'" [opened]="true">
            <div style="min-height: 40px;">
                <b class="sidenav-title-text">Your projects</b>
                <button mat-icon-button class="sidenav-button" matTooltip="Create new Project"
                    (click)="this.onCreateProjectDialog()">
                    <mat-icon>add_circle</mat-icon>
                </button>
            </div>
            <mat-accordion multi="true">
                <mat-expansion-panel *ngFor="let project of projectList | async;">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{project.name}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                        <a mat-list-item [routerLink]="[project.id]">{{'Overview'}}</a>
                        <a mat-list-item [routerLink]="[project.id, 'issues']">{{'Issues'}}</a>
                    </mat-nav-list>
                </mat-expansion-panel>
                <div *ngIf="(projectList | async)?.length === 0">
                    No projects created yet.
                </div>
            </mat-accordion>
        </mat-sidenav>

        <!-- Content Area -->
        <mat-sidenav-content><!--[ngSwitch]="this.getOpenSidenavContent()"-->
            <!--
                <app-project-overview *ngSwitchCase="'Overview'" [project]="this.getCurrentProject()">
                </app-project-overview>
                <app-project-issues *ngSwitchCase="'Issues'" [project]="this.getCurrentProject()"></app-project-issues>
                <b *ngSwitchCase="'DashboardOverview'">Select a project in Sidenav! This is a temporary view and should be
                    exchanged to a nice component.</b>
            -->
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
